<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.lin.myandroidapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".service.MyService">
        </service>
        <service android:name=".service.DownloadService">
        </service>

        <activity android:name=".ui.pig.TextViewStudy"/>
        <activity android:name=".ui.pig.EditTextStudy"/>
        <activity android:name=".ui.pig.ButtonStudy"/>
        <activity android:name=".ui.pig.ImageViewStudy"/>
        <activity android:name=".ui.pig.RadioAndCheckBtnStudy"/>
        <activity android:name=".ui.casual.ToggleStudy"/>
        <activity android:name=".ui.pig.ProgressStudy"/>
        <activity android:name=".ui.pig.SeekBarStudy"/>
        <activity android:name=".ui.pig.ScrollViewStudy"/>
        <activity android:name=".ui.pig.ListViewStudy"/>
        <activity android:name=".ui.pig.ServiceStudy"/>
        <activity android:name=".ui.pig.SpinnerStudy"/>
        <activity android:name=".ui.pig.DialogStudy"/>
        <activity android:name=".ui.pig.PopWindowStudy"/>
        <activity android:name=".ui.pig.WebViewStudy"/>
        <activity android:name=".ui.pig.WebViewStudy2"/>
        <activity android:name=".ui.pig.WebViewStudy3"/>
        <activity android:name=".ui.casual.TurnSaveStudy"/>

        <receiver android:name=".receiver.MyReceiver"/>

        <activity android:name=".ui.casual.LoadingActivity">
        </activity>
        <activity android:name=".ui.pig.DrawableActivity">
        </activity>
        <activity android:name=".ui.casual.ToolbarActivity">
        </activity>
        <activity android:name=".ui.casual.MultiRecyclerActivity">
        </activity>
        <activity android:name=".ui.casual.CoordinaLayoutActivity">
        </activity>
        <activity
            android:name=".ui.casual.CoordinaLayout2Activity"
            android:theme="@style/MyAppTheme">
        </activity>
        <activity android:name=".ui.casual.LruCacheStudyActivity">
        </activity>
        <activity android:name=".ui.casual.RetrofitActivity">
        </activity>
        <activity android:name=".ui.pig.ExpandActivity">
        </activity>
        <activity android:name=".ui.casual.PopRightActivity">
        </activity>
        <activity android:name=".ui.pig.AnimStudyActivity">
        </activity>
        <activity android:name=".ui.pig.PropertyAnimStudyActivity">
        </activity>
        <activity android:name=".ui.pig.PropertyAnim2Activity">
        </activity>
        <activity android:name=".ui.casual.EventStudyActivity">
        </activity>
        <activity android:name=".ui.casual.AnimViewPagerActivity">
        </activity>
        <activity android:name=".ui.casual.TestEventActivity">
        </activity>
        <activity android:name=".ui.casual.BehaviorStudyActivity">
        </activity>
        <activity android:name=".ui.casual.BehaviorStudy2Activity">
        </activity>
        <activity android:name=".ui.casual.VFStudyActivity">
        </activity>
        <activity android:name=".ui.casual.RVScrollActivity">
        </activity>
        <activity android:name=".ui.casual.LoadTestActivity">
        </activity>
        <activity android:name=".ui.casual.MPchartActivity">
        </activity>
        <activity android:name=".ui.casual.MPChartStudy2Activity">
        </activity>
        <activity android:name=".ui.casual.TabStudyActivity">
        </activity>
        <activity android:name=".ui.casual.RxJavaStudyActivity">
        </activity>
        <activity android:name=".ui.CodePigActivity">
        </activity>
        <activity android:name=".ui.CasualActivity">
        </activity>
        <activity android:name=".ui.aige.AigeViewListActivity">
        </activity>
        <activity
            android:name=".ui.TestActivity"
            android:theme="@style/MyAppTheme">
        </activity>
        <activity android:name=".ui.casual.DownloadActivity">
        </activity>
        <activity android:name=".ui.casual.RealmStudyActivity">
        </activity>
        <activity android:name=".ui.casual.ExpandRvActivity">
        </activity>
        <activity android:name=".ui.casual.CheckinActivity">
        </activity>
        <activity android:name=".ui.aige.AigeViewOneActivity">
        </activity>
        <activity android:name=".ui.aige.AigeViewSecondActivity">
        </activity>
        <activity android:name=".ui.CustomizeViewActivity">
        </activity>
        <activity android:name=".ui.aige.AigeThirdActivity">
        </activity>
        <activity android:name=".ui.aige.AigeFourthActivity">
        </activity>
        <activity android:name=".ui.hongyang.YangViewListActivity">
        </activity>
        <activity android:name=".ui.hongyang.YangViewFirstActivity">
        </activity>
        <activity android:name=".ui.hongyang.YangViewSecondActivity">
        </activity>
        <activity android:name=".ui.hongyang.YangViewThirdActivity">
        </activity>
        <activity android:name=".ui.hongyang.YangViewFourActivity">
        </activity>
        <activity android:name=".ui.hongyang.YangViewFifthActivity">
        </activity>
        <activity android:name=".ui.qijian.QiJianViewListActivity">
        </activity>
        <activity android:name=".ui.qijian.QiViewFirstActivity">
        </activity>
        <activity android:name=".ui.qijian.QiViewSecondActivity">
        </activity>
        <activity android:name=".ui.qijian.QiViewThirdActivity">
        </activity>
        <activity android:name=".ui.qijian.QiViewFourthActivity">
        </activity>
        <activity android:name=".ui.qijian.QiViewFifthActivity">
        </activity>
        <activity android:name=".ui.qijian.QiviewSixthActivity">
        </activity>
        <activity android:name=".ui.qijian.QiViewSeventhActivity">
        </activity>
    </application>

</manifest>