<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.lin.myandroidapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TextViewStudy"/>
        <activity android:name=".EditTextStudy"/>
        <activity android:name=".ButtonStudy"/>
        <activity android:name=".ImageViewStudy"/>
        <activity android:name=".RadioAndCheckBtnStudy"/>
        <activity android:name=".ToggleStudy"/>
        <activity android:name=".ProgressStudy"/>
        <activity android:name=".SeekBarStudy"/>
        <activity android:name=".ScrollViewStudy"/>
        <activity android:name=".ListViewStudy"/>
        <activity android:name=".ServiceStudy"/>
        <activity android:name=".SpinnerStudy"/>
        <activity android:name=".DialogStudy"/>
        <activity android:name=".PopWindowStudy"/>
        <activity android:name=".WebViewStudy"/>
        <activity android:name=".WebViewStudy2"/>
        <activity android:name=".WebViewStudy3"/>
        <activity android:name=".TurnSaveStudy"/>

        <service android:name=".service.MyService">
        </service>

        <receiver android:name=".receiver.MyReceiver"/>

        <activity android:name=".LoadingActivity">
        </activity>
        <activity android:name=".DrawableActivity">
        </activity>
        <activity android:name=".ToolbarActivity">
        </activity>
        <activity android:name=".view.MultiRecyclerActivity">
        </activity>
        <activity android:name=".CoordinaLayoutActivity">
        </activity>
        <activity android:name=".CoordinaLayout2Activity">
        </activity>
        <activity android:name=".LruCacheStudyActivity">
        </activity>
    </application>

</manifest>