<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.lin.myandroidapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TextViewStudy"/>
        <activity android:name=".ui.activity.EditTextStudy"/>
        <activity android:name=".ui.activity.ButtonStudy"/>
        <activity android:name=".ui.activity.ImageViewStudy"/>
        <activity android:name=".ui.activity.RadioAndCheckBtnStudy"/>
        <activity android:name=".ui.activity.ToggleStudy"/>
        <activity android:name=".ui.activity.ProgressStudy"/>
        <activity android:name=".ui.activity.SeekBarStudy"/>
        <activity android:name=".ui.activity.ScrollViewStudy"/>
        <activity android:name=".ui.activity.ListViewStudy"/>
        <activity android:name=".ui.activity.ServiceStudy"/>
        <activity android:name=".ui.activity.SpinnerStudy"/>
        <activity android:name=".ui.activity.DialogStudy"/>
        <activity android:name=".ui.activity.PopWindowStudy"/>
        <activity android:name=".ui.activity.WebViewStudy"/>
        <activity android:name=".ui.activity.WebViewStudy2"/>
        <activity android:name=".ui.activity.WebViewStudy3"/>
        <activity android:name=".ui.activity.TurnSaveStudy"/>

        <service android:name=".service.MyService">
        </service>

        <receiver android:name=".receiver.MyReceiver"/>

        <activity android:name=".ui.activity.LoadingActivity">
        </activity>
        <activity android:name=".ui.activity.DrawableActivity">
        </activity>
        <activity android:name=".ui.activity.ToolbarActivity">
        </activity>
        <activity android:name=".ui.activity.MultiRecyclerActivity">
        </activity>
        <activity android:name=".ui.activity.CoordinaLayoutActivity">
        </activity>
        <activity android:name=".ui.activity.CoordinaLayout2Activity">
        </activity>
        <activity android:name=".ui.activity.LruCacheStudyActivity">
        </activity>
        <activity android:name=".ui.activity.RetrofitActivity">
        </activity>
        <activity android:name=".ui.activity.ExpandActivity">
        </activity>
        <activity android:name=".ui.activity.PopRightActivity">
        </activity>
        <activity android:name=".ui.activity.AnimStudyActivity">
        </activity>
        <activity android:name=".ui.activity.PropertyAnimStudyActivity">
        </activity>
        <activity android:name=".ui.activity.PropertyAnim2Activity">
        </activity>
        <activity android:name=".ui.activity.EventStudyActivity">
        </activity>
        <activity android:name=".ui.activity.AnimViewPagerActivity">
        </activity>
        <activity android:name=".ui.activity.TestEventActivity">
        </activity>
        <activity android:name=".ui.activity.BehaviorStudyActivity">
        </activity>
        <activity android:name=".ui.activity.BehaviorStudy2Activity">
        </activity>
        <activity android:name=".ui.activity.VFStudyActivity">
        </activity>
        <activity android:name=".ui.activity.RVScrollActivity">
        </activity>
        <activity android:name=".ui.activity.LoadTestActivity">
        </activity>
        <activity android:name=".ui.activity.MPchartActivity">
        </activity>
        <activity android:name=".ui.activity.MPChartStudy2Activity">
        </activity>
        <activity android:name=".ui.activity.TabStudyActivity">
        </activity>
    </application>

</manifest>